@{
    ViewData["Title"] = "Edit";
    Layout = null;
}
@model RendERA.DB.ViewModels.ParametersVM
<style>
    .msgForm {
        text-align: unset !important;
    }
    option {
        color:black;
    }
</style>

    <div>
        <form asp-action="EditParameter" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="panel-body">
                <div class="form-horizontal container">
                    <div class="form-column col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group row">
                        <label class=" col-sm-2  control-label" style="color:forestgreen"> category & plugin</label>
                            <div class="col-sm-4">
                                <select style="height:27px" asp-for="Category" id="CategoryId" asp-items="@Model.CategoryList"></select>

                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row " id="ParameterUserCategoryValueRow">
                        <label class=" col-sm-2  control-label" style="color:forestgreen">User type :</label>
                            <div class="col-sm-10">
                                @for (int i = 0; i < Model.UserCategoryList.Count(); i++)
                                {
                                    <input style="padding: 0 0" val="@Model.UserCategoryList[i].Id" class="list" asp-for="UserCategoryList[i].Selected" type="checkbox" />
                                    <span style="padding: 0 25px 0 5px">@Model.UserCategoryList[i].Name</span>

                                    <input asp-for="UserCategoryList[i].Name" hidden />
                                    <input asp-for="UserCategoryList[i].Id" hidden />
                                }
                            </div>
                        </div>
                        <div class="form-group row " id="ParameterSoftwareValueRow">
                        <label class=" col-sm-2  control-label" style="color:forestgreen">Render Software type:</label>
                            <div class="col-sm-10">
                                @for (int i = 0; i < Model.RenderSoftwareList.Count(); i++)
                                {

                                    <input style="padding: 0 0" val="@Model.RenderSoftwareList[i].Id" class="list" asp-for="RenderSoftwareList[i].Selected" type="checkbox" />
                                    <span style="padding: 0 25px 0 5px">@Model.RenderSoftwareList[i].Name</span>

                                    <input asp-for="RenderSoftwareList[i].Name" hidden />
                                    <input asp-for="RenderSoftwareList[i].Id" hidden />
                                }
                            </div>
                        </div>
                        <div class="form-group row" id="ParameterNameRow">
                        <label id="ParamaterLabelName" style="color:forestgreen" class=" col-sm-2 control-label">Name</label>
                            <div class="col-sm-4">
                                <input asp-for="Name" id="ParameterName" class="msgForm" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row" id="ParameterValueRow">
                        <label class=" col-sm-2  style=" color:forestgreen" control-label">Value (If any)</label>
                            <div class="col-sm-4">
                                <input asp-for="Value" type="text" class="msgForm" />

                                <span asp-validation-for="Value" class="text-danger"></span>
                                <input hidden asp-for="Value" type="text" />
                            </div>
                        </div>

                        <div class="form-group row" id="ParameterPriceRow">
                        <label asp-for="Price" style="color:forestgreen" class="col-sm-2 control-label">Price</label>
                            <div class="col-sm-4">
                                <input asp-for="Price" pattern="^\d*(\.\d{0,2})?$" id="txtQty" class="msgForm" />
                                <span asp-validation-for="Price" class="tex-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <input type="submit" value="Save" class=" " />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div>
        <a style="color:forestgreen" asp-action="Index">Back to List</a>
        </div>
    </div>

<div class="js-fake-scroll"></div>
@{
    int cpu = (int)RendERA.Infrastructure.Enum.Category.CPU;
    int twoCpu = (int)RendERA.Infrastructure.Enum.Category.CPU2X;
    int RenderTimeOfFrame = (int)RendERA.Infrastructure.Enum.Category.RenderTimeOfFrame;
    int NodesForProjectRederding = (int)RendERA.Infrastructure.Enum.Category.NodesForProjectRenderding;
    int AdditionalParameter = (int)RendERA.Infrastructure.Enum.Category.AdditionalParameter;
    int CouponCode = (int)RendERA.Infrastructure.Enum.Category.CouponCode;
    int ProcessorModel = (int)RendERA.Infrastructure.Enum.Category.ProcessorModel;
    int ProcessorType = (int)RendERA.Infrastructure.Enum.Category.ProcessorType;
}
<script>
    $(document).on('keydown', 'input[pattern]', function (e) {
        var input = $(this);
        var oldVal = input.val();
        var regex = new RegExp(input.attr('pattern'), 'g');

        setTimeout(function () {
            var newVal = input.val();
            if (!regex.test(newVal)) {
                input.val(oldVal);
            }
        }, 0);
    });

      $('#CategoryId').change(function () {
        var categoryvalue = $(this).val();
            if (categoryvalue == @twoCpu) {
           $("#ParameterNameRow").css("display", "flex");
             $("#ParameterValueRow").css("display", "none");
             $("#ParameterPriceRow").css("display", "flex");
                $("#ParameterSoftwareValueRow").css("display", "none");
                $("#ParameterUserCategoryValueRow").css("display", "none");

        }
        if (categoryvalue == @cpu) {
           $("#ParameterNameRow").css("display", "flex");
             $("#ParameterValueRow").css("display", "none");
             $("#ParameterPriceRow").css("display", "flex");
            $("#ParameterSoftwareValueRow").css("display", "none");
            $("#ParameterUserCategoryValueRow").css("display", "none");

        }
        if (categoryvalue == @RenderTimeOfFrame) {
           $("#ParameterNameRow").css("display", "none");
             $("#ParameterValueRow").css("display", "none");
             $("#ParameterPriceRow").css("display", "flex");
            $("#ParameterSoftwareValueRow").css("display", "none");
            $("#ParameterUserCategoryValueRow").css("display", "none");
            $("#ParameterName").val("Frame per Second");
        }
        if (categoryvalue == @NodesForProjectRederding) {
            $("#ParameterNameRow").css("display", "none");
            $("#ParameterPriceRow").css("display", "flex");
             $("#ParameterValueRow").css("display", "none");
            $("#ParameterSoftwareValueRow").css("display", "none");
            $("#ParameterUserCategoryValueRow").css("display", "none");
            $("#ParameterName").val("One Node");
         }
         if (categoryvalue == @AdditionalParameter){
             $("#ParameterValueRow").css("display", "flex");
             $("#ParameterSoftwareValueRow").css("display", "flex");
             $("#ParameterUserCategoryValueRow").css("display", "flex");
             $("#ParameterPriceRow").css("display", "none");

         } if (categoryvalue == @CouponCode) {
             $("#ParameterValueRow").css("display", "none");
             $("#ParameterSoftwareValueRow").css("display", "none");
             $("#ParameterUserCategoryValueRow").css("display", "none");
             $("#ParameterPriceRow").css("display", "flex");
             $("#ParameterNameRow").css("display", "flex");
             $("#ParamaterLabelName").text("Coupon Code");
             $("#ParamaterPriceLabelName").text("Discount(%)");
            $("#txtQty").attr("pattern","^100$|^100.00$|^\\d{0,2}(\\.\\d{0,2})?$");
             $("#ParameterName").val("");
         }if (categoryvalue == @ProcessorModel) {
             $("#ParameterNameRow").css("display", "flex");
             $("#ParameterValueRow").css("display", "none");
             $("#ParameterPriceRow").css("display", "flex");
             $("#ParameterSoftwareValueRow").css("display", "none");
             $("#ParameterUserCategoryValueRow").css("display", "none");
         }if (categoryvalue == @ProcessorType) {
             $("#ParameterNameRow").css("display", "flex");
             $("#ParameterValueRow").css("display", "none");
             $("#ParameterPriceRow").css("display", "flex");
             $("#ParameterSoftwareValueRow").css("display", "none");
             $("#ParameterUserCategoryValueRow").css("display", "none");
         }
         else {
             $("#ParamaterLabelName").text("Name");
             $("#ParamaterPriceLabelName").text("Price");
            $("#txtQty").attr("pattern", "^\\d*(\\.\\d{0,2})?$");
         }

      });
    $( document ).ready(function() {
        var categoryvalue = $("#CategoryId").val();
          if (categoryvalue == @twoCpu) {
           $("#ParameterNameRow").css("display", "flex");
             $("#ParameterValueRow").css("display", "none");
             $("#ParameterPriceRow").css("display", "flex");
              $("#ParameterSoftwareValueRow").css("display", "none");
              $("#ParameterUserCategoryValueRow").css("display", "none");

        }
        if (categoryvalue == @cpu) {
           $("#ParameterNameRow").css("display", "flex");
             $("#ParameterValueRow").css("display", "none");
             $("#ParameterPriceRow").css("display", "flex");
            $("#ParameterSoftwareValueRow").css("display", "none");
            $("#ParameterUserCategoryValueRow").css("display", "none");

        }
        if (categoryvalue == @RenderTimeOfFrame) {
           $("#ParameterNameRow").css("display", "none");
             $("#ParameterValueRow").css("display", "none");
             $("#ParameterPriceRow").css("display", "flex");
            $("#ParameterSoftwareValueRow").css("display", "none");
            $("#ParameterUserCategoryValueRow").css("display", "none");
            $("#ParameterName").val("Frame per Second");
        }
        if (categoryvalue == @NodesForProjectRederding) {
            $("#ParameterNameRow").css("display", "none");
            $("#ParameterPriceRow").css("display", "flex");
             $("#ParameterValueRow").css("display", "none");
            $("#ParameterSoftwareValueRow").css("display", "none");
            $("#ParameterUserCategoryValueRow").css("display", "none");
            $("#ParameterName").val("One Node");
         }
         if (categoryvalue == @AdditionalParameter){
             $("#ParameterValueRow").css("display", "flex");
             $("#ParameterSoftwareValueRow").css("display", "flex");
             $("#ParameterUserCategoryValueRow").css("display", "flex");
             $("#ParameterPriceRow").css("display", "none");

         } if (categoryvalue == @CouponCode) {
             $("#ParameterValueRow").css("display", "none");
             $("#ParameterSoftwareValueRow").css("display", "none");
             $("#ParameterUserCategoryValueRow").css("display", "none");
             $("#ParameterPriceRow").css("display", "flex");
             $("#ParameterNameRow").css("display", "flex");
             $("#ParamaterLabelName").text("Coupon Code");
             $("#ParamaterPriceLabelName").text("Discount(%)");
            $("#txtQty").attr("pattern","^100$|^100.00$|^\\d{0,2}(\\.\\d{0,2})?$");
         }if (categoryvalue == @ProcessorModel) {
             $("#ParameterNameRow").css("display", "flex");
             $("#ParameterValueRow").css("display", "none");
             $("#ParameterPriceRow").css("display", "flex");
             $("#ParameterSoftwareValueRow").css("display", "none");
             $("#ParameterUserCategoryValueRow").css("display", "none");
         }if (categoryvalue == @ProcessorType) {
             $("#ParameterNameRow").css("display", "flex");
             $("#ParameterValueRow").css("display", "none");
             $("#ParameterPriceRow").css("display", "flex");
             $("#ParameterSoftwareValueRow").css("display", "none");
             $("#ParameterUserCategoryValueRow").css("display", "none");
         }
         else {
             $("#ParamaterLabelName").text("Name");
             $("#ParameterSoftwareValueRow").css("display", "none");
             $("#ParameterUserCategoryValueRow").css("display", "none");
             $("#ParamaterPriceLabelName").text("Price");
             $("#ParameterValueRow").css("display", "none");
            $("#txtQty").attr("pattern", "^\\d*(\\.\\d{0,2})?$");
         }

    });
</script>