@model IEnumerable<RendERA.DB.ViewModels.ParametersVM>
@{
    ViewData["Title"] = "Parameters";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .msgForm {
        text-align: unset !important;
    }

    .Addbutton:hover {
        background-color: #ffffff;
        color: #292929;
    }

    .Addbutton {
        width: 76PX;
        padding: 8px;
        display: inline-block;
        position: relative;
        border: 2px solid #ffffff;
        background-color: transparent;
        color: #ffffff;
        font-size: 1em;
        font-family: "Roboto", sans-serif;
        line-height: 12px;
        letter-spacing: 0px;
        cursor: pointer;
        margin: 0;
        margin-bottom: 3px;
        white-space: nowrap;
        -webkit-transition: all 0.3s ease-out;
    }
</style>

<div class="content js-content">
    <div style="padding: 11px;width:100%;display:none" class="content_item" id="CreateModal">
    </div>
    @*<div style="padding: 11px;width:100%" class="content_item">
        <form asp-controller="Parameters" id="" asp-action="InsertParameter" method="post" enctype="multipart/form-data">
            <div class="panel-body">
                <div class="form-horizontal container">
                    <div class="form-column col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-4">
                                <input id="name" name="name" class="msgForm" required type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">Price</label>
                            <div class="col-sm-4">
                                <input id="txtQty" pattern="^\d*(\.\d{0,2})?$" name="price" class="msgForm" required type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <button type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>*@

    <div style="padding: 11px;width:100%" class="content_item">
       
            <input type="button" onclick="Add()" class="Addbutton btn bt-danger right fa fa-plus" value=" Add">
        
        <table class="table">
            <h3 style="padding: 8px; color:forestgreen">Parameter List</h3>
            <thead>
                <tr>
                    <th style="color:forestgreen">
                        Name
                    </th>
                    <th style="color:forestgreen">
                        Price / Value
                    </th>
                    <th style="color:forestgreen">
                        Category
                    </th>
                    <th style="color:forestgreen">
                        Edit
                    </th>
                    <th style="color:forestgreen">
                        Delete
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                  
                        <td style="color:forestgreen">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                        <td style="color:forestgreen">
                        @if (item.Category == (int)RendERA.Infrastructure.Enum.Category.AdditionalParameter)
                        {
                            @Html.DisplayFor(modelItem => item.Value)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Price)
                        }

                    </td>
                    <td style="color:forestgreen">
                        @Html.DisplayFor(modelItem => item.CatergoryName)
                    </td>
                        <td><a style="color:forestgreen" id="@item.Id" onclick="Edit(this.id)">Edit</a></td>
                    
                    <td>
                            <a style="color:forestgreen" onclick="change(@item.Id)" data-toggle="modal" data-target="#toModal">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div id="toModal" class="modal fade" role="dialog" style="height: 200px !important">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style=" background: #3f4041">
                Are you want delete ?
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body " style="background-color: #333; height: 250px !important">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="uploadpng">
                            <form asp-controller="Parameters" id="" asp-action="DeleteParameter" method="post" enctype="multipart/form-data">
                                <input type="hidden" id="ParameterId" name="id" />
                                <input type="submit" style="padding: 8px;" class="btn bt-danger right" value="Delete">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="js-fake-scroll"></div>
<script>
    function change(value) {
        document.getElementById("ParameterId").value = value;
    }
        function Edit(id) {
        $("#CreateModal").css("display", "block")
        $.get('@Url.Action("EditParameter","Parameters")?id=' + id,
            function (data) {
                $("#CreateModal").html(data);
            });
    }
    function Add() {
        $("#CreateModal").css("display", "block");
        $(".Addbutton").css("display", "none");
        $.get('@Url.Action("CreateParameter","Parameters")',
            function (data) {
                $('#CreateModal').html(data);
            });
    }
    $(document).on('keydown', 'input[pattern]', function (e) {
        var input = $(this);
        var oldVal = input.val();
        var regex = new RegExp(input.attr('pattern'), 'g');

        setTimeout(function () {
            var newVal = input.val();
            if (!regex.test(newVal)) {
                input.val(oldVal);
            }
        }, 0);
    });
    
</script>


@if (ViewBag.Msg != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Msg");
            };
    </script>
}